@using PagedList
@using PagedList.Mvc

@model IPagedList<prjCustomer.Models.tCustomer>

@{
    ViewBag.Title = "Index";
}
<link href="~/Content/PagedList.css" rel="stylesheet" />
<h2>Index</h2>

<p>
    @Html.ActionLink("Insert New Data", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().fName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().fPhone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().fAddress)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.fName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fPhone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fAddress)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { fId=item.fId }) |
            @Html.ActionLink("Details", "Details", new { fId=item.fId }) |
            @Html.ActionLink("Delete", "Delete", new { fId=item.fId })
        </td>
    </tr>
}

</table>

@Html.PagedListPager(Model, page => Url.Action("Index", new { page}))